.brands-container {
    padding: 60px;
}

.sort-dropdown {
    margin-bottom: 20px;
}

.brands-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.brand-wrapper {
    width: 18%;
    margin: 0 10px 20px;
    text-align: center;
}

.brand-image {
    width: 60%;
    margin: 10px;
    padding: 10px;
}

