.case-studies {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    padding: 60px;
}

.case-row {
    display: flex;
    transition: transform 0.5s ease;
    width: 300%;
}

.case-column {
    flex: 0 0 33.33%;
}

.case-column.active {
    flex: 0 0 33.33%;
    overflow: hidden;
}

.case-image-container {
    position: relative;
}

.image {
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: white;
}

h3, p {
    margin: 0;
}

.rectangle {
    width: 100%;
    height: 10px;
    background-color: purple;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
